{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="form-group" style="padding: 20px; width: 90%; margin: auto;">
    <div class="form-control"><h4 style="text-align: center;">Task List</h4></div>
</div>
{% for key, Task in TasksModel.main.Tasks.items %}
<div class="row">
    <div class="col-md">
        <div class="card w-100" style="margin-bottom: 5px;">
            <div class="card-body">
                <h5 class="card-title">{{Task.name}}</h5>
                <p class="card-text">{{Task.description}}</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if Task.time_left != 'Deadlined' %}
                    <input type="hidden" name="onTime{{task.id}}" value="True">
                    {% else %}
                    <input type="hidden" name="onTime{{task.id}}" value="False">
                    {% endif %}
                    <input type="hidden" name="task_id" value={{Task.id}}>
                    {% if Task.id == 8 %}
                    <a href="{% url 'WeeklyEvaluationPage' %}" name={{Task.id}} style="float: right;" class="btn btn-info">Submit Task</a>
                    {% else %}
                    <button type="submit" name={{Task.id}} style="float: right;" class="btn btn-info">Submit Task</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card w-100" style="margin-bottom: 5px;">
            <div class="card-body">
                <h5 class="card-title">Task Information</h5>
                <p style="margin-bottom: 5px;" class="card-text">Task Receiving Date: {{Task.receiving_date}}</p>
                <p style="margin-bottom: 5px;" class="card-text">Task Deadline Date: {{Task.deadline_date}}</p>
                {% if Task.time_left != 'Deadlined' %}
                <span style="color: green;">{{Task.time_left}} Left</span>
                {% else %}
                <span style="color: red;">{{Task.time_left}}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endfor %}
{% endblock %}
    