{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="form-group" style="padding: 20px; width: 90%; margin: auto;">
    <div class="form-control"><h4 style="text-align: center;">Convert Goods to Retail</h4></div>
</div>
<form method="POST">
    {% csrf_token %}
    <div style="width: 60%; margin:auto;">
        <div class="form-group" style="margin-left: 50px;">
            <label for="exampleInputPassword1">Item</label>
            <div>{{form.type}}</div>
        </div>
        <div class="form-group" style="margin-left: 50px;">
            <label for="exampleInputPassword1">Batch</label>
            <div>{{form.batch}}</div>
        </div>
        <div class="form-group" style="margin-left: 50px;">
            <label for="exampleInputPassword1">Quantity</label>
            <div>{{form.quantity}}</div>
        </div>
        <div style="width: 60%; float: right; margin:auto; margin-top: 20px;">
            <a style="margin:auto;" href="{% url 'RetailGoodsPage' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-xs btn-info">Convert</button>
        </div>
        <div class="form-group" style="width: 30%; margin: auto; margin-top: 100px; ">
            <ul>
                {% for message in messages %}
                    <span style="display: grid; color: red;">{{ message }}</span>
                {% endfor %}
                <h6 style="margin-bottom: 0px;">Available Items to Convert</h6>
                {% for -, value in availableItems.items %}
                <li>{{value.name}} - {{value.batch}} - {{value.quantity}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>
{% endblock %}