{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Price the Transforming Goods</h2>
{% for message in messages %}
<div class="alert alert-success" role="alert" style="width: 100%; height: 50px;">
    <p style="text-align: center;">{{ message }}</p>
</div> 
{% endfor %}
<table style="text-align:center;" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ITEM</th>
        <th scope="col">BATCH</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">STSTUS</th>
        <th scope="col">SENDER</th>
        <th scope="col">RECEIVER</th>
        <th scope="col">TRANSFORMING DATE</th>
        <th scope="col">PRICE</th>
        <th scope="col">SET</th>
    </tr>
    </thead>
    <tbody>
    {% for item in UnpricedGoods %}
    <tr>
        
            
        <td>{{item.type}}</td>
        <td>{{item.batch}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.status}}</td>
        <td>{{item.received_from}}</td>
        <td>{{item.getReceiver}}</td>
        <td>{{item.receiving_date}}</td>
        <form method="post">
        {% csrf_token %}
        <td>
            <div style="width: 70%; margin: auto;"><input class="form-control" type="number" name="val{{item.id}}"></div>
            <input type="hidden" name="id" value={{item.id}}>
        </td>
        <td><button type="submit" class="btn btn-info">Set</button></td>
        </form>
    </tr>
    {% endfor %}
    </tbody>

</table>


{% endblock %}