{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="form-group" style="padding: 20px; width: 90%; margin: auto;">
    <div class="form-control"><h4 style="text-align: center;">Assign Task to Employee</h4></div>
</div>
<form method="POST">
    {% csrf_token %}
    <div style="width: 60%; margin:auto;">
        <div class="form-group" style="margin-left: 50px;">
            <label for="exampleInputPassword1">Employee</label>
            <div>{{form.employee}}</div>
        </div>
        <div class="form-group" style="margin-left: 50px;">
            <label for="exampleInputPassword1">Task</label>
            <div>{{form.name}}</div>
        </div>
        <div class="form-group" style="margin-left: 50px;">
            <label for="exampleInputPassword1">Description</label>
            <div>{{form.description}}</div>
        </div>
        <div class="form-group" style="margin-left: 50px;">
            <label for="exampleInputPassword1">Deadline</label>
            <div>{{form.deadline_date}}</div>
        </div>
        <center>
        <div style="margin:auto; margin-top: 20px;">
            <a href="{% url 'TasksPage' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-xs btn-info">Add Task</button>
        </div>
        </center>
    </div>
</form>
{% endblock %}
