{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% include 'alerts.html' %}

<div>
  <div class="modal-body">
    <p>Are you sure you want to delete employee</p>
    <p>Employee Name: {{ Employee.person.name }}</p>
    <p>Position: {{ Employee.position }}</p>
  </div>
  <div class="modal-footer">
    <a href="{% if user.groups.all.0.name == "CEO" %}
             {% url 'EmployeePage-CEO' Employee.id %}
             {% else %}
             {% url 'EmployeePage' Employee.id %}
             {% endif %}" class="btn btn-secondary">Close</a>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-xs btn-outline-danger">Delete</button>
    </form>
  </div>
</div>
{% endblock %}