{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div >
  <div class="modal-body">
    <p>Are you sure you want to delete distributor</p>
    <p>Distributor Name: {{Distributor.person.name}}</p>
  </div>
  <div class="modal-footer">
    <a href="{% url 'DistributorPage' Distributor.id %}" class="btn btn-secondary">Close</a>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-xs btn-outline-danger">Delete</button>
    </form>
  </div>
</div>
{% endblock %}