{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div style="float: right;">
    <td><a id="button" class="btn btn-xs btn-info" href="{% url 'AddDistributorPage' %}">Add Distributor</a></td>
</div>
<h2>Distributors</h2>
<table style="text-align:center;" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">NAME</th>
        <th scope="col">GENDER</th>
        <th scope="col">NATIONALITY</th>
        <th scope="col">RECORD</th>
    </tr>
    </thead>
    <tbody>
    {% for distributor in Distributors %}
    <tr>
        <td>{{distributor.person.name}}</td>
        <td>{{distributor.person.gender}}</td>
        <td>{{distributor.person.nationality}}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'DistributorPage' distributor.id %}">View</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}