{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% include 'alerts.html' %}

<div style="float: right;">
    <td><a id="button" class="btn btn-xs btn-info" href="{% if user.groups.all.0.name == "CEO" %}
              {% url 'AddTaskPage-CEO' %}
              {% else %}
              {% url 'AddTaskPage' %}
              {% endif %}">Add Task</a></td>
</div>
<h2>Employees' Tasks</h2>
<table style="text-align:center;" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">NO.</th>
            <th scope="col">TASK</th>
            <th scope="col">EMPLOYEE NAME</th>
            <th scope="col">POSISTION</th>
            <th scope="col">STATUS</th>
            <th scope="col">RECEIVING DATE</th>
            <th scope="col">SUBMISSION DATE</th>
            <th scope="col">RECORD</th>
        </tr>
    </thead>
    <tbody>
        {% for task in Tasks %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.employee.person.name }}</td>
            <td>{{ task.employee.position }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.receiving_date }}</td>
            <td>{% if task.submission_date == None %} - {% else %}{{ task.submission_date }}{% endif %}</td>
            <td>
                {% if task.employee.position == "CEO" or task.employee.position == "Human Resources" %}
                    {% if request.user.groups.all.0.name == "CEO" %}
                    <a class="btn btn-sm btn-info" href="{% url 'TaskPage-CEO' task.id %}">View</a>
                    {% else %}
                    <a class="btn btn-sm btn-secondary" style="pointer-events: none;">View</a>
                    {% endif %}
                {% else %}
                    {% if request.user.groups.all.0.name == "CEO" %}
                    <a class="btn btn-sm btn-info" href="{% url 'TaskPage-CEO' task.id %}">View</a>
                    {% else %}
                    <a class="btn btn-sm btn-info" href="{% url 'TaskPage' task.id %}">View</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}