{% extends base %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% include 'alerts.html' %}

<h2>Weekly Evaluation </h2>

<table style="text-align:center;" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">NO.</th>
            <th scope="col">NAME</th>
            <th scope="col">GENDER</th>
            <th scope="col">NATIONALITY</th>
            <th scope="col">POSITION</th>
            <th scope="col">RATE</th>
        </tr>
    </thead>
    <tbody>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if week_to_rate_exists %}
            {% for Employee in Employees %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ Employee.person.name }}</td>
                <td>{{ Employee.person.gender }}</td>
                <td>{{ Employee.person.nationality }}</td>
                <td>{{ Employee.position}}</td>
                <td>
                    <div style="width: 70%; margin: auto;"><input class="form-control" type="number"
                            name="val{{Employee.id}}" min="1" max="5" value="5"></div>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
    </tbody>
</table>
<center>
    {% if week_to_rate_exists %}
    <button type="submit" class="btn btn-info">Rate</button>
    {% endif %}
    </form>
</center>

{% endblock %}